<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130761606274-797ijea80nujn00n5i7h76n9ok3h9cdt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130761606274-797ijea80nujn00n5i7h76n9ok3h9cdt</string>
	<key>API_KEY</key>
	<string>AIzaSyBXxGTegyx0Ehmb9aLz28ZUn20-Bvy_nZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>130761606274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canopas.iLearnings</string>
	<key>PROJECT_ID</key>
	<string>ilearning-1030</string>
	<key>STORAGE_BUCKET</key>
	<string>ilearning-1030.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:130761606274:ios:d9804fcab73c0e7905e09b</string>
</dict>
</plist>
